body {
  margin: 0;
  background-color: white;
  color: #fff;
  font-family: 'Cormorant SC', serif;
}

.back-link {
  position: absolute;
  top: 20px;
  left: 30px;
  text-decoration: none;
  color: black;
  font-size: 14px;
  letter-spacing: 1px;
  z-index: 2;
}

.about-page {
  max-width: 1100px;
  margin: 80px auto;
  padding: 40px;
}

.content {
  display: flex;
  gap: 40px;
  align-items: stretch;
  flex-wrap: nowrap;
}

.left-column img {
  width: 100%;
  max-width: 300px;
  object-fit: cover;
  margin-top: 27px;
}


.right-column {
  flex: 1;
  font-size: 17px;
  line-height: 1.8;
  text-transform: none;
  text-align: left;
  color: black;
}

.right-column p {
  margin-bottom: 20px;
}


.traits {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 40px;
  margin: 20px 0;
  font-size: 15px;
}

.langs {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;   /* stack items vertically */
    align-items: center;      /* center them horizontally */
    gap: 20px;                /* spacing between photo and text */
  }

  .left-column img {
    width: 250px;
    height: 429px;
  }

  .right-column {
    max-width: 90%;
    font-size: 16px;
    text-align: left;         /* keep text aligned left */
  }

  .back-link {
    font-size: 13px;
    top: 15px;
    left: 20px;
  }

  .traits {
    gap: 4px 10px; /* jeszcze ciaśniej na mobile */
    font-size: 14px; /* trochę mniejsza czcionka */
  }

  .traits div {
    line-height: 1.4; /* mniejsze rozstrzelenie wierszy */
  }

  .traits strong {
    display: inline-block;
    min-width: 20px; /* stała szerokość etykiety, ułatwia czytanie */

  }
}




