body {
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
    background-color: black;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  
  canvas#stars-bg {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
    background: white;
  }
  
  .main-link {
    position: absolute;
    top: 20px;
    left: 30px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    letter-spacing: 1px;
    z-index: 3;
  }
  
.video-wrapper {
  margin-top: 120px;
  position: relative;
  z-index: 2;

  width: 600px;    
  max-width: 90vw;   
  aspect-ratio: 16 / 9; 
}
  
  
  .video-cover:hover .play-button {
    transform: translate(-50%, -50%) scale(1.1);
  }
  
  video {
    width: 600px;
    max-width: 90vw;
    border: 3px solid black;
    display: block;
  }
  
  .hidden {
    display: none;
  }

.video-wrapper iframe{
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}
  
  @media (max-width: 768px) {

    .main-link {
      font-size: 13px;
      top: 15px;
      left: 20px;
    }

  }
